@font-face {
    font-family: 'NimbusSanL Bold';
    src: local('NimbusSanL Bold'), url(../fonts/NimbusSanL_Bold.ttf);
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body.bg {
    width: 100%;
    height: 100%;
    background: #5DF6E2 url(../img/login_background.png) no-repeat center 0;
    background-size: cover;
    color: #646C6F;
    font: 100% 'NimbusSanL Bold', Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0 1rem;
    overflow: hidden;
    box-sizing: border-box;
}

.form_block {
    max-width: 27.5rem;
    background-color: #fff;
    transform: translateY(-50%);
    margin: 0 auto;
    margin-top: 80px;
    margin-top: 50vh;
    padding: 1rem 2rem 2rem;
    box-sizing: border-box;
}

img.logo {
    width: 100%;
    max-width: 10.1rem;
    padding: 1.2rem 0;
}

input.input_gray {
    width: 100%;
    background: #EBEBEB url(../img/form_sprite2.png) .6rem -3rem no-repeat;
    background-size: 2.1rem;
    font: .8rem 'NimbusSanL Bold', Arial, Verdana, sans-serif;
    border: none;
    margin: .4rem 0;
    padding: .8rem 0 .8rem 3.5rem;
    box-sizing: border-box;
}

input[type="password"].input_gray {
    background-position: .6rem -.9rem;
}

.app_checkbox {
    position: relative;
    padding: .2rem 0;
}

.app_checkbox input[type="checkbox"] {
    display: none;
}

.app_checkbox .label1 {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-color: #EBEBEB;
    border: .15rem solid #EBEBEB;
    transition: border-color .2s;
    box-sizing: border-box;
}

.app_checkbox input[type="checkbox"]:checked + .label1 {
    background: #EBEBEB url(../img/form_sprite2.png) -.2rem -.1rem no-repeat;
    background-size: 2rem;
}

.app_checkbox .label1:hover {
    border-color: #6D7578;
}

.app_checkbox label {
    cursor: pointer;
}

.app_checkbox .label2 {
    display: inline-block;
    font-size: .75rem;
    line-height: 1.6rem;
    vertical-align: bottom;
    padding-left: .1rem;
}

a.form_link {
    display: inline-block;
    color: #C00726;
    font-size: .75rem;
    text-decoration: none;
    margin-bottom: 1.3rem;
    transition: .2s;
}

a.form_link:hover {
    color: #f1092f;
}

.form_btn {
    display: inline-block;
    width: 100%;
    max-width: 13.5rem;
    background-color: #C00726;
    color: #fff;
    font: bold .85rem/3rem 'NimbusSanL Bold', Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.form_btn:hover {
    background-color: #f1092f;
}